<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Movie App</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/libs/angular.js"></script>
        <style>
            .old {background: red;} 
            .modern {background: lightblue;}
            .new {background: lightgreen;}
        </style>
    </head>
    <body>
        <div ng-controller="MoviesController as movies">
            <div class="likes">
                <p>Todd's Likes List</p>
                <ul>
                    <li ng-repeat = "like in movies.likesList">
                        <p>{{ like.title }}</p>
                        <a href="" ng-click="movies.unlike($index)">Unlike</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li ng-repeat="movie in movies.list">
                    <p>{{movie.title}}</p>
                    <a href="" ng-click="movies.addToLikes(movie)">Like this Movie</a>
                </li>
            </ul>
        </div>   
        <script src="js/app.js"></script>
        <script src="js/MoviesController.js"></script>
    </body>
</html>
